<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <!-- <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
    <div class="logo" (click)="goToHome()">ngx-<span>admin</span></div> -->
    <!-- <ul nz-menu [nzMode]="'horizontal'" style="width:40%;text-align:center;margin-left: 30%">
      <li nz-menu-item><i nz-icon type="mail"></i>进度专题</li>
      <li nz-menu-item><i nz-icon type="mail"></i>物资专题</li>
      <li nz-menu-item><i nz-icon type="mail"></i>安全专题</li>
      <li nz-menu-item><i nz-icon type="mail"></i>质量专题</li>
    </ul> -->
  </div>
</div>

<!-- <div class="header-container">
  <nb-actions
    size="medium"
    [class.right]="position === 'normal'"
    [class.left]="position === 'inverse'">
    <nb-action icon="nb-gear" class="toggle-layout" (click)="toggleSettings()"></nb-action>
  </nb-actions>
</div> -->
